@font-face {
    font-family: 'Helios Bold';
    src: url("font/HeliosBold.otf");
}
@font-face {
    font-family: 'Helios Regular';
    src: url("font/HeliosRegular.otf");
}
#post {
    height: auto;
    width: 55%;
    margin: 0vh auto 7%;
    border-radius: 25px;
    background-color: #1e1e1e;
    border: 1px solid #EFEFEF;
    display: flex;
    justify-content: flex-start;
}
#wrap_right {
    text-align: center;
    position: absolute;
    right: 0;
}
#wrap_left {
    text-align: center;
    position: absolute;
    left: 0;
}
#post_img {
    border-radius: 50%;
    width: 50%;
    text-align: center;
    margin: 0px auto;
}
#text {
    margin: 0px 10px 10px 20px;
}
#name {
    font-size: 0.8em;
    margin: 0px auto 10%;
    text-align: center;
  }
html{
    width: 100%;
    height: 100%;
    font-size: 20px;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
}
header{
    width: 100%;
    height: 80%;
    background-color: white;
}
#code_img{
    width: 100%;
    height: 100%;
}
h1{
    position: absolute;
    color: white;
    font-family: 'Helios Bold';
    font-size: 3em;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2{
    color:white;
    font-family: 'Helios Bold';
    text-align: center;
    margin-bottom: 7%;
}
nav{
    width: 100%;
    position: absolute;
    top: 1%;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Helios Bold';
    padding: 1%;
    float: right;
}
th{
    padding: 10px 20px;
    font-family: 'Helios Bold';
    color: white;
}
p{
    font-family: 'Helios Regular';
    color: rgba(255, 255, 255, 0.95);
    letter-spacing: 0.5px;
}
table{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-collapse: collapse;
}
td{
    font-family: 'Helios Regular';
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border: 1px solid #555555;
}
#middle{
    text-align: center;
}
#start{
    border-left: #121212;
}
#end{
    text-align: center;
    border-right: #121212;
}
#table_img{
    width: 80%;
    height: 50%;
}
#img{
    margin-top: 10%;
    width: 100%;
    height: 70%;
}
#Ccmel{
    margin-top: 7%;
    margin-bottom: 0%;
    width: 100%;
    height: 70%;
}
@media screen and (max-width: 768px) {
    #wrap_left {
        text-align: left;
        width: 20%;
        left: 1%;
    }
    #wrap_right {
        text-align: right;
        width: 20%;
        right: 1%;
    }
    #post_img {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    html {
        width: 100%;
        height: 100%;
        font-size: 10px;
    }
    header{
        height: 60%;
    }
    a{
        padding: 2%;
    }
    h1{
        top: 30%
    }
    h2{
        margin-bottom: 10%;
    }
    #img{
        height: 30%;
    }
    #post {
        margin: 0% 40% 8%;
    }
    #wrap_left {
        text-align: left;
        width: 30%;
        margin-left: 3%;
    }
    #wrap_right {
        text-align: left;
        width: 30%;
        margin-left: 3%;
        left: 0;
    }
    #post_img {
        width: 100%;
        text-align: left;
    }
}