@import url("page-template.css");

#control-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#control-wrapper a {
    font-size: 0.9em;
    padding: 1% 2%;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: white;
    font-family: 'Helios Regular';
    margin: 0;
    margin-top: 1.5em;
    width: 100%;
}
span {
    width: 100%;
    text-align: center;
}

#control-box {
    width: 400px;
    height: 600px;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 1.5em;
}
#usernameinp{
    background-color: #1E1E1E;
    color: White;
    border: none; 
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    outline: none;
    font-family: 'Helios Regular';
    
}
#pwinp{
    background-color: #1E1E1E;
    color: White;
    border: none; 
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    outline: none;
    font-family: 'Helios Regular';
}
#fninp{
    background-color: #1E1E1E;
    color: White;
    border: none; 
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px; 
    outline: none;
    font-family: 'Helios Regular';
}
#progsec{
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
#progsecwrap{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin:0;
}
.progressinside {
    background-color: rgb(79, 218, 24);
    height: 100%;
    border-radius: 15px;
}
.progress {
    background-color: #2c2c2c;
    height: 50px;
    width: 100%;
    border-radius: 15px;
}

#hwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#fn-box {
    width: 800px;
    height: 400px;
    background-color: #2c2c2c;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 1.5em;
}

button{
    background-color: white; 
    color: black;
    padding: 15px 32px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Helios Regular';

}
body{
    background-color: #121212;
    padding: 0;
    overflow-x: hidden;
}
h1{
    position: relative;
    top:0;
    left:0;
    transform: none;
}
#control-box > h1 {
    font-size: 2em;
}
#fn-box > h1 {
    font-size: 2em;
}

@media only screen and (max-width: 600px) {
    #control-box{
      background-color: #2c2c2c;
      width: 80%;
    }
    #fn-box{
        background-color: #2c2c2c;
        width: 80%;
        height: 40%;
      }
      #progsecwrap{
          width:90%;
      }
    
  }