footer{
    text-align: center;
    color: rgb(199, 199, 199);
    margin-bottom: 12px;
    margin-top: 125px;
    display: flex;
    justify-content:center;
}

footer>p {
    margin: 5px 2.5%;
}

footer>p>a {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: white;
    margin: 0;
}

@media screen and (max-width: 1040px) {
    footer {
        flex-direction: column;
        margin-top: 17%
    }
}
@media screen and (max-width: 601px) {
    footer {
        margin-top: 17%
    }
}