@import url("page-template.css");

.usercomments{
    margin-top: 7%;
    margin-bottom: 0%;
    width: 100%;
    height: 70%;
    height: max-content;
}

.usercomments__post {
    height: auto;
    width: 55%;
    margin: 0vh auto 7%;
    border-radius: 25px;
    background-color: #1e1e1e;
    border: 1px solid #EFEFEF;
    display: flex;
    justify-content: flex-start;
}
.usercomments--wrapright {
    text-align: center;
    position: absolute;
    right: 0;
}
.usercomments--wrapleft {
    text-align: center;
    position: absolute;
    left: 0;
}
.usercomments__profilepic {
    border-radius: 50%;
    width: 50%;
    max-width: 300px;
    text-align: center;
    margin: 0px auto;
    height: auto;   
}
.usercomments__commenttext {
    margin: 0px 10px 10px 20px;
}
.usercomments__username {
    font-size: 0.8em;
    margin: 0px auto 10%;
    text-align: center;
    word-break: break-all;
}

h2{
    text-align: center;
    margin-bottom: 7%;
}

th{
    padding: 10px 20px;
    font-family: 'Helios Bold';
    color: white;
}

table{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-collapse: collapse;
}
td{
    font-family: 'Helios Regular';
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid #555555;
    padding: 10px 20px;
}

.features {
    margin-top: 7%;
}

.features__middlecolumn{
    text-align: center;
}
.features__leftcolumn{
    border-left: #121212;
}
.features__rightcolumn{
    text-align: center;
    border-right: #121212;
}
.features__tableheaderimg{
    width: 80%;
    height: auto;
}

#backgroundimg{
    margin-top: 10%;
    width: 100%;
    height: 70%;
}

@media screen and (min-width: 1920px) {
    .usercomments--wrapleft{
        margin-left: 8%;
    }
    .usercomments--wrapright{
        margin-right: 8%;
    }
}

@media screen and (max-width: 1040px) {
    .usercomments--wrapleft {
        text-align: left;
        width: 20%;
        left: 1%;
    }
    .usercomments--wrapright {
        text-align: right;
        width: 20%;
        right: 1%;
    }
    .usercomments__profilepic {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    h2{
        margin-bottom: 10%;
    }
    #backgroundimg{
        height: 30%;
    }
    .usercomments__post {
        margin: 0% 40% 8%;
    }
    .usercomments--wrapleft {
        text-align: left;
        width: 30%;
        margin-left: 3%;
        max-width: 140px;
    }
    .usercomments--wrapright {
        text-align: left;
        width: 30%;
        margin-left: 3%;
        left: 0;
    }
    .usercomments__profilepic {
        width: 100%;
        max-width: 120px;
        text-align: left;
    }

    .usercomments__username{
        text-align: left;
        margin-left: 10%;
    }
}